h1 {
font-size: 100px;
}

.img_ori {
    width: 500px; /* you can use % */
    height: 500px;
    image-rendering: pixelated;
}

.img_bricks {
    width: 500px; /* you can use % */
    height: 500px;
    image-rendering: pixelated;
}

.img_palette {
 width:540px;
 height: 50px;
 image-rendering: pixelated;
}